.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  body{
	background-color:#1b212c;
	}
	p{
		color:white;
		text-align:center;
	}

	h1{
		color:white;
        text-align:center;
    }
